name: Daily Email Finder

on:
  schedule:
    - cron: "0 4 * * *"   # roz subah 9:30 IST
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run email finder
        run: python main.py
